<div class="row">
    <h1 class="titulo" style="text-align: center;">Proyectos</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 cold-lg-7 p1">
            <h1 class="subtitulo">Proyecto 1</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam facere, quibusdam recusandae perferendis ipsa placeat alias? Cupiditate aliquid voluptatem numquam nisi porro vero quisquam, ratione laboriosam nobis at, neque rem?</p>
        </div>
        <div class="text-center col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 p2">
            <img src="../../../assets/proyecto1.avif" class="img-fluid img-p" width="100%" height="100%">
        </div>
    </div>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 cold-lg-7 p1">
            <h1 class="subtitulo">Proyecto 2</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam facere, quibusdam recusandae perferendis ipsa placeat alias? Cupiditate aliquid voluptatem numquam nisi porro vero quisquam, ratione laboriosam nobis at, neque rem?</p>
        </div>
        <div class="text-center col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 p2">
            <img src="../../../assets/proyecto1.avif" class="img-fluid img-p" width="100%" height="100%">
        </div>
    </div>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 cold-lg-7 p1">
            <h1 class="subtitulo">Proyecto 3</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam facere, quibusdam recusandae perferendis ipsa placeat alias? Cupiditate aliquid voluptatem numquam nisi porro vero quisquam, ratione laboriosam nobis at, neque rem?</p>
        </div>
        <div class="text-center col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 p2">
            <img src="../../../assets/proyecto1.avif" class="img-fluid img-p" width="100%" height="100%">
        </div>
    </div>
</div>
