<div class="row">
    <h1 class="titulo" style="text-align:center;">Experiencia laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li><h2 class="subtitulo">Trabajo 1</h2> - <h3>(años)</h3></li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis blanditiis accusamus libero accusantium in. Cumque reprehenderit explicabo incidunt quia quo exercitationem autem cum modi voluptates nisi repellat, fuga voluptatum numquam!</p>
        </ul>
        <ul>
            <li><h2 class="subtitulo">Trabajo 2</h2> - <h3>(años)</h3></li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis blanditiis accusamus libero accusantium in. Cumque reprehenderit explicabo incidunt quia quo exercitationem autem cum modi voluptates nisi repellat, fuga voluptatum numquam!</p>
        </ul>
        <ul>
            <li><h2 class="subtitulo">Trabajo 3</h2> - <h3>(años)</h3></li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis blanditiis accusamus libero accusantium in. Cumque reprehenderit explicabo incidunt quia quo exercitationem autem cum modi voluptates nisi repellat, fuga voluptatum numquam!</p>
        </ul>
    </div>
</div>