.row{
    margin-right: 0px;
    margin-left: 0px;
    padding: 20px;
    color: white;
    margin-top: -1px;
}

div{
    background-color: #2b3033;
}

h2, h3{
    display: inline;
}

.agregar{
    background-color: black;
}
.borrar{
    background-color: red;
    color: white;
    padding-bottom: 1px;
    padding-top: 1px;
}

.editar{
    background-color: lightslategray;
    color: white;
    padding-bottom: 1px;
    padding-top: 1px;
    margin-right: 4px;
}

@media (min-width: 1200px){
    .col-lg-11 {
        margin-left: 100px;
        padding-right: 80px;
    }
    }

    body{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        line-height: 1.42857143;
        color: #333333;
        background-color: #fff;
        background-image: url(https://firebasestorage.googleapis.com/v0/b/portafolio-yp.appspot.com/o/Assets%2Fbanner3.svg?alt=media&token=bbc25bd0-e058-4711-89e4-368e58697a64);
    }