<div class="align-self-center">
<div class="row">
    <div class="pcdiv">
    <div class="col-xs-12 col-sm-4 col-md-4 row-lg-6">
        <img src="../../../assets/perfil.jpg" class="w-70 img-fluid" height="50%" width="70%" id="profilepicture">
        <p id="devname">Joel Andrés Marchesa</p>
        <p id="devjob">Full Stack Developer Jr.</p>
    </div>
    </div>

    <div class="abouttxt">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6" style=";">
        <span>
            <h1 class="titulo">Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae totam et nam aliquam possimus laboriosam alias sequi, eligendi beatae vitae, commodi aliquid nemo nihil ut nobis fugit voluptatem aspernatur? Minima!</p>
        </span>
    </div>
    </div>
</div>
</div>
