<div class="container" *ngIf="skill">
    <div class="row" *ngIf="isLogged">
        <h1 class="titulo" style="text-align:center;">Edición de habilidades <button type="button" class="agregar btn btn-dark" routerLink="/">
            Inicio
        </button></h1>
        <div>
            <form (ngSubmit)="onUpdate()" #f="ngForm" novalidate>
                <div class="form-group">
                    <label for="nombre">Nombre de la habilidad</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="skill.nombre" required>
                </div>
                <div class="form-group">
                    <label for="lapsoE">Porcentaje de dominio</label>
                    <input type="text" class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]="skill.porcentaje" required>
                </div>
                <div class="form-group">
                    <label for="img">Imagen</label>
                    <input type="file" class="form-control" id="img" name="img" [(ngModel)]="skill.img" (change)="uploadImage($event)" accept="">
                </div>
                <img [src]="SkillImage.url" width="200px">
                <button class="btn btn-primary">
                    Actualizar
                </button>
            </form>
        </div>
    </div>
</div>
