<div class="row-xs-6 row-sm-6 row-md-6 row-lg-6">
    <a href="https://www.facebook.com/joel1000.nw"><img src="../../../assets/facebook.png" class="img-fluid"></a>
    <a href="https://www.twitter.com/joelmarchesa"><img src="../../../assets/twitter.png" class="img-fluid"></a>
    <a href="https://ar.linkedin.com/in/joelmarchesa"><img src="../../../assets/linkedin.png" class="img-fluid"></a>
    <a href="https://github.com/joelmar10"><img src="../../../assets/github.png" class="img-fluid"></a>
    <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">Ingresar</button>
    <button  type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged"> Cerrar </button>
</div>
