<div class="row">
    <h1 class="titulo" style="text-align:center;">Educación  <button type="button" class="agregar btn btn-dark" routerLink="/nuevaedu" *ngIf="isLogged">
        Agregar
    </button></h1>
    <div class="col-lg-11" *ngFor="let Educacion of educacion">
        
            <h2 class="subtitulo">{{Educacion.nombreE}}</h2><h3 class="lapso">{{Educacion.lapsoE}}</h3>  
            <p>{{Educacion.descripcionE}} <button type="button" *ngIf="isLogged" class="editar btn btn-dark"  routerLink="/editedu/{{Educacion.id}}">
                <i class="bi bi-pencil-fill"></i>Editar</button>  <button type="button" *ngIf="isLogged" class="borrar btn btn-dark" (click)="delete(Educacion.id)">
                <i class="bi bi-trash-fill"></i>Borrar</button></p>
        
    </div>
</div>