.row{
    background-color: #1a1c1f;
    margin-right: 0px;
    margin-left: 0px;
}
footer{
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: flex-end;
    height: 200px;
    width: 100%;
    background-image: url(../../../assets/footer.svg);
    background-size: cover;
}